.menuGrid{
  /* border:1px solid red; */
  flex:1;
  margin-top:6vh;
}

.rows{
  padding-bottom:10vh;
  /* margin-bottom:10vh; */
}

.cols{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowsNext{
  position: absolute;
  padding:0;
  left:0;
  background-color: black;
  height: 80px;
  width:100%;
}