.menuGrid{
  /* border:1px solid red; */
  flex:1;
  margin-top:6vh;
}

.rows{
  padding-bottom:10vh;
  /* margin-bottom:10vh; */
}

.cols{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowsNext{
  position: absolute;
  padding:0;
  left:0;
  background: #0A2463;
  height: 80px;
  width:100%;
}

.nextButton{
  position: absolute;
  right:50px;
  top:-20px;
  width: 148px;
  height: 49px;
  background: #D8315B;
  border: 1px solid #E8879F;
  box-shadow: 0px 4px 12px rgba(216, 49, 91, 0.7);
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.nextButton:disabled{
  background: gray;
  border: 1px solid gray;
  box-shadow: 0px 4px 12px rgba(3, 3, 3, 0.7);
}