.cardContainer{
  position:relative;
  display:flex;
  flex-direction: column;
  width:180px;
  height:300px;
  background-color:white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.counterContainer{
  position: absolute;
  bottom:0;
  left:50%;
  transform: translate(-50%,40%);
  width:100px;
  height: 40px;
  background: #D8315B;
  border: 2px solid #E8879F;
  box-shadow: 0px 4px 12px rgba(216, 49, 91, 0.7);
  border-radius: 5px;
  display:flex;
}

.countContainer{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}

.countButton{
  width: 20px;
  height: 20px;
  background: #E8879F;
  border-radius:10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer{
  flex:4.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContainer{
  flex:5.5;
  display:flex;
  /* align-items: center; */
  padding:0 16px;
}

.avatarCircle{
  width:110px;
  height:110px;
  border-radius: 55px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 12px rgba(62, 146, 204, 0.25);
  background: #3E92CC;
  display:flex;
  justify-content: center;
  align-items: center;
}

.avatar{
  width:80%;
  height:80%;
}

.desc{
  text-align: center;
  font-size: 13px;
}