.PageContainer{
  display:flex;
  flex-direction: row;
  overflow-y: hidden;
}

.ImageContainer{
  position: relative;
  /* background-color: antiquewhite; */
  flex:7;
}

.LoginContainer{
  /* background-color: aliceblue; */
  flex:3;
  display:flex;
  justify-content: center;
  align-items: center;
}

.coffeeShopImage{
  position: absolute;
  width:100%;
  height:150%;
  top:-13%;
  left:-10%;
}