:root{
  --primary-blue:#3E92CC;
  --secondary-blue:#0A2463;
  --background-color:#FFFAFF;
  --accent:#D8315B;
  --dark:#1E1B18;
}

.App {
  position: absolute;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
}

.Page{
  flex:1;
}